spring:
  application:
    name: webshop
  profiles:
    active: common
server:
  port: 8080
microService:
  quarryService: http://localhost:8081
  basketService: http://localhost:8082
management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: health,info,prometheus