spring:
  application:
    name: quarry
  profiles:
    active: common
server:
  port: 8081
management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: health,info,prometheus