name: 'Frontend: Build & Push Images to GHCR'

on:
  push:
    branches:
      - main
    paths:
      - "menhir-webshop/**"

jobs:
  frontend-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login GHCR
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare image names
        run: |
          echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      # Build & Push
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: menhir-webshop
          push: true
          tags: ghcr.io/${{ env.OWNER_LC }}/menhir-webshop:${{ github.sha }}